@import 'tailwindcss';

@theme {
  --color-lavender1: #781F74;
  --color-lavender2: #8F378B;
  --color-lavender3: #A759A4;
  --color-lavender4: #C888C5;
  --color-lavender5: #E5BDE3;
}

html {
  background-color: #C888C5;
}

input {
  color: #FFFFFF;
  background-color: var(--color-lavender1);
}

button {
  border-radius: 10px;
  background-color: var(--color-lavender3); 
  border-color: black;
  border-width: 2px;
}
